version: "3.9"
services:
  database:
    image: 'postgres:15'
    container_name: 'database'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: usersdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    networks:
      - mynet

  backend:
    build: ./backend
    container_name: 'backend'
    volumes:
      - ./backend:/app
    networks:
      - mynet
    ports:
      - '5000:5000'
    depends_on:
      - database

  frontend:
    build: ./frontend
    container_name: 'frontend'
    volumes:
      - ./frontend:/app
    networks:
      - mynet
    ports:
      - '3000:3000'
    depends_on:
      - backend

volumes:
  pgdata:

networks:
  mynet:
